    /** 
    * Plugin Name: bdwebteam recent post tabs widget
    * Plugin URI: http://plugin.bdwebteam.com/bdwebteam-recent-tabs-widget
    * Description: Adds a widget that shows the most recent posts of your site with excerpt, featured image, date by sorting & ordering feature
    * Author: Mahabub Hasan
    * Author URI: http://bdwebteam.com/
    * Version: 1.0.2
    * Text Domain: bdwebteam
    * Domain Path: /languages
    * License: MIT License
    * License URI: http://opensource.org/licenses/MIT
    */
    ul li{list-style:none;}
    .bdwebteam-tabs .tabs-list{overflow:hidden;padding:0;}
    .bdwebteam-tabs .tabs-list li{display:inline-block;list-style:none;text-align:center;padding:0;margin:0;}
    .bdwebteam-tabs .tabs-list a{padding:0;position:relative;}
    .bdwebteam-tabs .tabs-list .active a{background:#028DDC;text-decoration:none;}
    .bdwebteam-tabs .tabs-list a:hover{text-decoration:none;}
    .bdwebteam-tabs .tabs-data{border-bottom:0;padding-top:10px;}
    .bdwebteam-tabs .posts-list{display:none;padding:0;}
    .bdwebteam-tabs .posts-list li{}
    .bdwebteam-tabs .posts-list.active{display:block;}
    .tabs-data .post-pull-left{float:left;margin-right:20px;}
    .tabs-post-info p{padding:10px 0;line-height:22px;}
    .bdwebteam-tabs .tabs-list{font:12px "KlavikaMedium ",Arial,sans-serif;font-size:12px;margin-bottom:0px;text-transform:uppercase;background:#323232;}
    .bdwebteam-tabs .tabs-list a{color:#efefef;display:block;padding:10px 14px;}
    .posts-list li >a{position:relative;transform:translate3d(0px,0px,0px);}
    .posts-list .content{border-bottom:1px solid #323232;line-height:1;}
    .posts-list li:first-child{padding-top:0;}
    .posts-list li{border-bottom:0 none;overflow:hidden;padding:24px 0 0;}
    .posts-list .content time{color:#a6a6a6;font-size:11px;text-transform:uppercase;}
    .posts-list .content .comments{color:#a6a6a6;float:right;font-size:11px;white-space:nowrap;}
    .posts-list .comments a{color:inherit;}
    .posts-list .content >a{display:block;font-family: "Roboto Slab ",Georgia,serif;font-size:13px;line-height:1.615;}